{% from '_macros' import image %}

{% extends "_layout" %}

{% block content %}
  <section class="w-full mt-12">
      <div class="px-4 lg:px-0 mt-8 flex flex-col justify-end mx-auto items-baseline">
        <ul class="lg:w-1/2 mx-auto mb-5">
        {% for category in entry.insightCategory %}
          <li class="inline-block mr-2"><a href="{{ category.url }}" class="uppercase font-bold">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
        {#<a href="/insights" class="bg-secondary text-white text-xs py-1 px-4 rounded-full inline-flex items-center">
          <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path d="m54 30h-39.899l15.278-14.552c.8-.762.831-2.028.069-2.828-.761-.799-2.027-.831-2.828-.069l-17.448 16.62c-.755.756-1.172 1.76-1.172 2.829 0 1.068.417 2.073 1.207 2.862l17.414 16.586c.387.369.883.552 1.379.552.528 0 1.056-.208 1.449-.621.762-.8.731-2.065-.069-2.827l-15.342-14.552h39.962c1.104 0 2-.896 2-2s-.896-2-2-2z"/></svg>
          <span>Back</span>
        </a>#}
        <h1 class="text-secondary text-5xl mb-5 font-bold lg:w-1/2 mx-auto">{{ entry.pageTitle }}{{ category is defined ? ' - ' ~ category.title }}</h1>
        <p class="text-xs lg:w-1/2 mx-auto mb-5">Published {{ entry.postDate | date("d F, Y") }}</p>
        <figure class="w-full md:w-4/5 mx-auto mt-6">
					{{ image( entry.mainPageImage[0], 'fullWidth', 'w-full' ) }}
				</figure>
      </div>
  </section>
  <section class="leading-loose mt-12">
    {% include '_components/_page-content' with {
      pageContent: entry.pageContent.all(),
    } %}
  </section>
{% endblock %}